[mysqld]
# pulled out from docker config
skip-host-cache
skip-name-resolve
# pulled from default config
symbolic-links=0

# only errors and warnings
log_error_verbosity=2

character-set-server=utf8
collation-server=utf8_general_ci

innodb_buffer_pool_size = 128M
innodb_log_file_size = 32M
innodb_thread_concurrency = 8
innodb_file_per_table
